.layout-left {
  float: left;
}
.layout-right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  content: '\002B';
  height: 0;
  font-size: 0;
  clear: both;
}
.uploadlogo-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.uploadlogo-wrap .bg {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  filter: Alpha(Opacity=@{op*100});
}
.uploadlogo-wrap .uploadlogo {
  margin: 88px auto 0;
  width: 640px;
  position: relative;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.uploadlogo-wrap .uploadlogo .title {
  height: 40px;
  line-height: 40px;
  color: #666;
  padding: 0 16px;
  font-size: 12px;
  text-align: left;
}
.uploadlogo-wrap .uploadlogo .body {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  background-color: #f9f9f9;
  height: 332px;
}
.uploadlogo-wrap .uploadlogo .body .clicktoshow {
  position: relative;
}
.uploadlogo-wrap .uploadlogo .body .clicktoshow .logofile {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  filter: Alpha(Opacity=@{op*100});
}
.uploadlogo-wrap .uploadlogo .body .file-tips {
  color: #999;
  font-size: 12px;
}
.uploadlogo-wrap .uploadlogo .body .cutimage {
  padding: 16px;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox {
  width: 400px;
  height: 300px;
  margin-right: 16px;
  text-align: left;
  background-color: #eee;
  position: relative;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .va {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 100%;
  line-height: 100%;
  font-size: 0;
  width: 0;
  vertical-align: middle;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox > img {
  opacity: 0.36;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cut-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-mask,
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .imgbox {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-mask {
  background-color: #fff;
  opacity: 0.64;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect {
  position: absolute;
  border: 1px solid #f00;
  cursor: move;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect .resizer {
  width: 8px;
  height: 8px;
  font-size: 0;
  background-color: #f00;
  position: absolute;
  cursor: pointer;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect .resizer.top-left {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect .resizer.top-right {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect .resizer.bottom-left {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .cutbox .cutbox-rect .resizer.bottom-right {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .previewbox {
  padding-left: 16px;
  color: #666;
  height: 300px;
  border-left: 1px solid #eee;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .previewbox .title {
  margin: 0;
  line-height: 100%;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .previewbox .bigone {
  width: 168px;
  height: 168px;
  border: 1px solid #e6e6e6;
}
.uploadlogo-wrap .uploadlogo .body .cutimage .previewbox .smallone {
  width: 48px;
  height: 48px;
  border: 1px solid #e6e6e6;
}
.uploadlogo-wrap .uploadlogo .foot {
  padding: 16px 0;
}
